body {
    display: block;
    font-family: monospace;
    font-size: 150%;
    color: greenyellow;
    margin: 0px;
    background-color: black;
    padding: 2%;
}

/* Parent element. */
.main {
    display: flex;
    justify-content: space-between;
    align-items: center; 
}

/* Fixed child element 1 (left). */
.game-container {
    flex: 2;
    position: fixed;
    top: 25%;
    width: 50%;
    height: auto;
}

/* Fixed child element 2 {right). */
.score-container {
    flex: 1;
    position: fixed;
    top: 0;
    right: 0;
    width: 15%;
    height: 100vh; 
}

/* Hides/shows displays. */
.hidden {
    display: none;
}

/* Start game button properties. */
#start-button {
    font-family: monospace;
    font-size: 100%;
    background-color: greenyellow;
    color: black;  
}

/* Start game button properties when mouse hovers. */
#start-button:hover {
    background-color: white;
    color: black;
    cursor: pointer; 
}

/* Choice button properties. */
.choice-button {
    display: flex;
    flex-direction: column;
    font-family: monospace;
    font-size: 100%;
    flex-shrink: 0;
    background-color: greenyellow;
    color: black;
}

/* Choice button properties when mouse hovers. */
.choice-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* "Correct"/"Incorrect" display color. */
#answer-message {
    color: white;
}

/* Submit button properties. */
#submit-score-button {
    font-family: monospace;
    font-size: 100%;
    background-color: greenyellow;
    color: black;
}

/* Submit button properties when mouse hovers. */
#submit-score-button:hover {
    background-color: white;
    color: black;
    cursor: pointer;
}

/* Column display to accomodate various screen sizes. */
@media screen and (max-width: 504px) {
    .game-container {
        flex-direction: column;
    }

    .score-container {
        flex-direction: column;
    }
}
