body {
    display: block;
    margin: 0px;
}

ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

li {
    float: left;
}

li a {
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

p {
    font-size: 20px;
}

/* Main menu container */
.container-menu {
    display: block;
}

/* Main game container */
.container-game {
    display: none;
}

.answer-message {
    display: none;
}
